.container {
  display: flex;
  height: 100%;
}

.container > * {
  flex-basis: 50%;
  padding: 0 12px;
  height: 100%;
}

.transcriptContainer {
  list-style-type: none;
  border-right: 1px solid black;
}